# Ignore everything
*

# Allow this .gitignore file to be tracked
!.gitignore

# Allow all Python files in the root
!*.py

# Allow the FlightRecords folder and its contents
!FlightRecords/
!FlightRecords/**

